<section id="about" class="container">
    <section class="avatar">
        <img src="../../../assets/img/avatar.jpg" alt="">
        <div>
            <a href="#">
                <i class="fa fa-pen" onclick="showEditProfileModal()"></i>
            </a>
        </div>
    </section>
    <section class="info">
        <h2>Martín Andriuolo</h2>
        <h3>FullStack Developer Jr, Diseñador Gráfico</h3>
        <p>General Rodríguez, Buenos Aires (Argentina)</p>
    </section>
    <ul>
        <li class="insignias">
            <a href="https://mumuki.io/argentina-programa/certificates/verify/JFfyPDYM1Et8Vw8X">
                <img src="../../../assets/img/argprog.jpg" alt="Argentina Programa">
                <p>Argentina Programa #YoProgramo</p>
            </a>
        </li>
        <li class="insignias">
            <a href="https://www.freecodecamp.org/certification/emegea/responsive-web-design">
                <img src="../../../assets/img/freecodecamp.jpg" alt="Free Code Camp">
                <p>Responsive Web Design</p>
            </a>
        </li>
    </ul>
    <section class="botonesAbout">
        <button type="button" class="btn btn-primary">Tengo Interés en:</button>
        <button type="button" class="btn btn-light">Añadir Sección</button>
        <button type="button" class="btn btn-light">Más</button>
    </section>
    <section class="card">
        <h2>Quién soy</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec auctor et arcu sit amet gravida. Aliquam cursus ipsum ac tempor interdum. Morbi venenatis turpis eu ex tempus molestie. Cras lacinia vel est porttitor tincidunt. Vivamus non luctus mauris. Integer consectetur, diam eu rutrum semper, dolor nulla efficitur elit, vitae elementum orci massa vitae ligula. Donec ullamcorper, velit non dignissim vestibulum, nisl orci suscipit turpis, in ornare lorem libero sit amet justo. Cras a aliquam ipsum, nec pretium tortor. Aenean blandit elit et cursus convallis. Curabitur aliquam malesuada enim ac ornare.
        </p>
        <a href="#">
            <i class="fa fa-pen" onclick="showEditProfileModal()"></i>
        </a>
    </section>
</section><!-- About -->