<footer>
    <nav class="nav">
        <div>
            <p>©2022 - Martín Andriuolo</p>
        </div>
        <section class="socialmedia">
            <ul class="socialmediaul">
                <li class="socialmediali">
                    <a href="#">
                        <i class="logosocial fa-brands fa-github"></i>
                    </a>
                </li>
                <li class="socialmediali">
                    <a href="#">
                        <i class="logosocial fa-brands fa-gitlab"></i>
                    </a>
                </li>
                <li class="socialmediali">
                    <a href="#">
                        <i class="logosocial fa-brands fa-free-code-camp"></i>
                    </a>
                </li>
                <li class="socialmediali">
                    <a href="#">
                        <i class="logosocial fa-brands fa-linkedin"></i>
                    </a>
                </li>
                <li class="socialmediali">
                    <a href="#">
                        <i class="logosocial fa-brands fa-instagram"></i>
                    </a>
                </li>
                <li class="socialmediali">
                    <a href="#">
                        <i class="logosocial fa-brands fa-facebook"></i>
                    </a>
                </li>
                <li class="socialmediali">
                    <a href="#">
                        <i class="logosocial fas fa-envelope"></i>
                    </a>
                </li>
            </ul>    
        </section>
    </nav>    
</footer>
