<header>
    <nav class="nav">
        <section class="logoap">
            <img class="pnglogoap" src="../../../assets/img/argprog-logo.png" alt="">
        </section>
        <ul class="menu">
            <li><a href="#about">Quién soy?</a></li>
            <li><a href="#experience">Experiencia</a></li>
            <li><a href="#academical">Educación</a></li>
            <li><a href="#skills">Skills</a></li>
            <li><a href="#projects">Proyectos</a></li>
        </ul>
        <section class="socialmedia">
            <ul class="socialmediaul">
                <li class="socialmediali">
                    <a href="#" title="GitHub">
                        <i class="logosocial fa-brands fa-github"></i>
                    </a>
                </li>
                <li class="socialmediali">
                    <a href="#">
                        <i class="logosocial fa-brands fa-gitlab"></i>
                    </a>
                </li>
                <li class="socialmediali">
                    <a href="#">
                        <i class="logosocial fa-brands fa-free-code-camp"></i>
                    </a>
                </li>
                <li class="socialmediali">
                    <a href="#">
                        <i class="logosocial fa-brands fa-linkedin"></i>
                    </a>
                </li>
                <li class="socialmediali">
                    <a href="#">
                        <i class="logosocial fa-brands fa-instagram"></i>
                    </a>
                </li>
                <li class="socialmediali">
                    <a href="#">
                        <i class="logosocial fa-brands fa-facebook"></i>
                    </a>
                </li>
                <li class="socialmediali">
                    <a href="#">
                        <i class="logosocial fas fa-envelope"></i>
                    </a>
                </li>
            </ul>    
            <form class="formLogin">
                <button class="btn btn-outline-success login" type="submit">Login</button>            
            </form>
      
        </section>
    </nav>
    <section class="banner container">
        <img src="../../../assets/img/banner.jpg" alt="">
    </section>

</header>