.nav {
    background-color:#111;
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
    padding:0.5;
    display:flex;
    flex-direction: row;
    /* flex-wrap: nowrap; */
    justify-content: space-between;
    align-items:center;
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
    z-index:999;
    position:fixed;
    width:100%;
    top:0;
    margin:0;
    padding:0 2%;
}
.logoap {
    margin:0;
    padding:0;
}
.pnglogoap {
    width:200px;
}
.socialmedia {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.socialmediaul, .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.socialmediali, .menu li {
    list-style:none;
    margin:0.5em;
}
.socialmediali:last-child {
    margin:0.5em 2.5em 0.5em 0.5em !important;
}
.logosocial {
    font-size:28px;
}
.formLogin {
    display:flex;
    align-items:center;
}
button.login { 
    border:1px solid #C80A64;
    color:#C80A64;
}
button.login:hover {
    border:1px solid #80063f;
    background:#80063f;
    color:#fff;
}
.logosocialanchor {
    text-decoration:none;
    color:#fff;
}
.logosocial, .social {
    height:50px;
    align-items:center;
    display:flex;
}
.banner { 
    display:flex;
    flex-direction: row;
    /* flex-wrap: nowrap; */
    justify-content: center;
    margin-top:75px;
}
.banner img {
    height:400px;
    width:100%;
}