<header>
    <nav class="nav">
        <section class="logoap">
            <img class="pnglogoap" src="../../../assets/img/argprog-logo.png" alt="">
        </section>
        <section class="socialmedia">
            <ul class="socialmediaul">
                <li class="socialmediali"><a href="" class="logosocialanchor"><img class="logosocial" src="../../../assets/img/github-icono.png" alt="GitHub"></a></li>
                <li class="socialmediali"><a href="" class="logosocialanchor"><img class="logosocial" src="../../../assets/img/gitlab-icono.svg" alt="GitLab"></a></li>
                <li class="socialmediali"><a href="" class="logosocialanchor"><img class="logosocial" src="../../../assets/img/sololearn-icono.png" alt="SoloLearn"></a></li>
                <li class="socialmediali"><a href="" class="logosocialanchor"><img class="logosocial" src="../../../assets/img/linkedin-icono.png" alt="Linkedin"></a></li>
            </ul>    
        </section>
        <section>
            <button class="btn btn-success"><p>login</p></button>
        </section>
    </nav>
    <section class="banner">
        <img src="../../../assets/img/banner.png" alt="">
    </section>

</header>