<section id="projects">
    <h2>Proyectos</h2>
    <div>
        <i class="fa fa-plus" onclick="showEditProfileModal()"></i>
    </div>
    <ul>
        <li>
            <article>
                <h3>Proyectyo 1</h3>
                <div>
                    <i class="fa fa-plus" onclick="showEditProfileModal()"></i>
                    <i class="fa fa-trash" onclick="showEditProfileModal()"></i>
                </div>            
            </article>            
        </li>
        <li>
            <article>
                <h3>Proyectyo 2</h3>
                <div>
                    <i class="fa fa-plus" onclick="showEditProfileModal()"></i>
                    <i class="fa fa-trash" onclick="showEditProfileModal()"></i>
                </div>            
            </article>            
        </li>
        <li>
            <article>
                <h3>Proyectyo 3</h3>
                <div>
                    <i class="fa fa-plus" onclick="showEditProfileModal()"></i>
                    <i class="fa fa-trash" onclick="showEditProfileModal()"></i>
                </div>            
            </article>            
        </li>
        <li>
            <article>
                <h3>Proyectyo 4</h3>
                <div>
                    <i class="fa fa-plus" onclick="showEditProfileModal()"></i>
                    <i class="fa fa-trash" onclick="showEditProfileModal()"></i>
                </div>            
            </article>            
        </li>
        <li>
            <article>
                <h3>Proyectyo 5</h3>
                <div>
                    <i class="fa fa-plus" onclick="showEditProfileModal()"></i>
                    <i class="fa fa-trash" onclick="showEditProfileModal()"></i>
                </div>            
            </article>            
        </li>
        <li>
            <article>
                <h3>Proyectyo 5</h3>
                <div>
                    <i class="fa fa-plus" onclick="showEditProfileModal()"></i>
                    <i class="fa fa-trash" onclick="showEditProfileModal()"></i>
                </div>            
            </article>            
        </li>
    </ul>
</section>