<section id="projects" class="container">
    <h2>Proyectos</h2>
    <div>
        <a href="#">
            <i class="fa fa-plus" onclick="showEditProfileModal()"></i>
        </a>
    </div>            
    <ul>
        <li>
            <article>
                <h3>Proyectyo 1</h3>
                <div>
                    <a href="#">
                        <i class="fa fa-plus" onclick="showEditProfileModal()"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-trash" onclick="showEditProfileModal()"></i>
                    </a>
                </div>            
            </article>            
        </li>
        <li>
            <article>
                <h3>Proyectyo 2</h3>
                <div>
                    <a href="#">
                        <i class="fa fa-plus" onclick="showEditProfileModal()"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-trash" onclick="showEditProfileModal()"></i>
                    </a>
                </div>            
            </article>            
        </li>
        <li>
            <article>
                <h3>Proyectyo 3</h3>
                <div>
                    <a href="#">
                        <i class="fa fa-plus" onclick="showEditProfileModal()"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-trash" onclick="showEditProfileModal()"></i>
                    </a>
                </div>            
            </article>            
        </li>
        <li>
            <article>
                <h3>Proyectyo 4</h3>
                <div>
                    <a href="#">
                        <i class="fa fa-plus" onclick="showEditProfileModal()"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-trash" onclick="showEditProfileModal()"></i>
                    </a>
                </div>            
            </article>            
        </li>
        <li>
            <article>
                <h3>Proyectyo 5</h3>
                <div>
                    <a href="#">
                        <i class="fa fa-plus" onclick="showEditProfileModal()"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-trash" onclick="showEditProfileModal()"></i>
                    </a>
                </div>            
            </article>            
        </li>
        <li>
            <article>
                <h3>Proyectyo 5</h3>
                <div>
                    <a href="#">
                        <i class="fa fa-plus" onclick="showEditProfileModal()"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-trash" onclick="showEditProfileModal()"></i>
                    </a>
                </div>            
            </article>            
        </li>
    </ul>
</section>