<section id="skills" class="container">
    <div>
        <h2 class="titulo">Hard Skills & Soft Skills</h2>
        <a href="#">
            <i class="fa fa-pen iconito" onclick="showEditProfileModal()"></i>
        </a>
    </div>
    <ul>
        <li>
            <article>
                <div>
                    <h3>Resolución de Problemas -2</h3>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <p>Pixar - Jornada parcial</p>
                </div>
                <div>
                    <a href="#">
                        <i class="fa fa-plus iconito" onclick="showEditProfileModal()"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-trash iconito" onclick="showEditProfileModal()"></i>
                    </a>
                </div>            
            </article>            
        </li>
        <li>
            <article>
                <div>
                    <h3>Frontend Developer</h3>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <p>Pixar - Jornada parcial</p>
                    </div>
                <div>
                    <a href="#">
                        <i class="fa fa-plus iconito" onclick="showEditProfileModal()"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-trash iconito" onclick="showEditProfileModal()"></i>
                    </a>
                </div>            
            </article>            
        </li>
    </ul>
</section>