<section id="academical">
    <h2>Educación</h2>
    <div>
        <i class="fa fa-plus" onclick="showEditProfileModal()"></i>
    </div>
    <ul>
        <li>
            <article>
                <img src="../../../assets/img/freecodecamp.jpg" alt="" />
                <h3>Backend Developer</h3>
                <p>Pixar - Jornada parcial</p>
                <div>
                    <i class="fa fa-plus" onclick="showEditProfileModal()"></i>
                    <i class="fa fa-trash" onclick="showEditProfileModal()"></i>
                </div>            
            </article>            
        </li>
        <li>
            <article>
                <img src="../../../assets/img/argprog.jpg" alt="" />
                <h3>Frontend Developer</h3>
                <p>Pixar - Jornada parcial</p>
                <div>
                    <i class="fa fa-plus" onclick="showEditProfileModal()"></i>
                    <i class="fa fa-trash" onclick="showEditProfileModal()"></i>
                </div>            
            </article>            
        </li>
    </ul>
</section>