<section id="academical" class="container">
    <h2>Educación</h2>
    <a href="#">
        <i class="fa fa-plus" onclick="showEditProfileModal()"></i>
    </a>
    <ul>
        <li>
            <article>
                <img src="../../../assets/img/freecodecamp.jpg" alt="" />
                <h3>Backend Developer</h3>
                <p>Pixar - Jornada parcial</p>
                <div>
                    <a href="#">
                        <i class="fa fa-plus" onclick="showEditProfileModal()"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-trash" onclick="showEditProfileModal()"></i>
                    </a>
                </div>            
            </article>            
        </li>
        <li>
            <article>
                <img src="../../../assets/img/argprog.jpg" alt="" />
                <h3>Frontend Developer</h3>
                <p>Pixar - Jornada parcial</p>
                <div>
                    <a href="#">
                        <i class="fa fa-plus" onclick="showEditProfileModal()"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-trash" onclick="showEditProfileModal()"></i>
                    </a>
                </div>            
            </article>            
        </li>
    </ul>
</section>