<section id="experience" class="container">
    <h2>Experiencia</h2>
    <div>
        <a href="#">
            <i class="fa fa-pen" onclick="showEditProfileModal()"></i>
        </a>
    </div>            
    <ul>
        <li>
            <article>
                <img src="../../../assets/img/freecodecamp.jpg" alt="" />
                <h3>Backend Developer</h3>
                <p>Pixar - Jornada parcial</p>
                <h4>Marzo 2019 - 2020 - 1 año</h4>
                <h4>Buenos Aires, Argentina</h4>
                <div>
                    <a href="#">
                        <i class="fa fa-plus" onclick="showEditProfileModal()"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-trash" onclick="showEditProfileModal()"></i>
                    </a>
                </div>            
            </article>            
        </li>
        <li>
            <article>
                <img src="../../../assets/img/argprog.jpg" alt="" />
                <h3>Frontend Developer</h3>
                <p>Pixar - Jornada parcial</p>
                <h4>Marzo 2020 - Actualidad</h4>
                <h4>Buenos Aires, Argentina</h4>
                <div>
                    <a href="#">
                        <i class="fa fa-plus" onclick="showEditProfileModal()"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-trash" onclick="showEditProfileModal()"></i>
                    </a>
                </div>            
            </article>            
        </li>
    </ul>
</section>