<section id="experience" class="container ">
    <div>
        <h2 class="titulo">Experiencia</h2>
        <a href="#">
            <i class="fa fa-pen iconito" onclick="showEditProfileModal()"></i>
        </a>
    </div>            
    <ul>
        <li>
            <article>
                <div class="uno">
                    <img src="../../../assets/img/freecodecamp.jpg" alt="" />
                    <div>
                        <h3>Backend Developer</h3>
                        <p>Pixar - Jornada parcial</p>
                        <h4>Marzo 2019 - 2020 - 1 año</h4>
                        <h4>Buenos Aires, Argentina</h4>
                    </div>
                </div>
                <div>
                    <a href="#">
                        <i class="fa fa-plus iconito" onclick="showEditProfileModal()"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-trash iconito" onclick="showEditProfileModal()"></i>
                    </a>
                </div>            
            </article>            
        </li>
        <li>
            <article>
                <div class="uno">
                    <img src="../../../assets/img/argprog.jpg" alt="" />
                    <div>
                        <h3>Frontend Developer</h3>
                        <p>Pixar - Jornada parcial</p>
                        <h4>Marzo 2020 - Actualidad</h4>
                        <h4>Buenos Aires, Argentina</h4>
                    </div>
                </div>
                <div>
                    <a href="#">
                        <i class="fa fa-plus iconito" onclick="showEditProfileModal()"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-trash iconito" onclick="showEditProfileModal()"></i>
                    </a>
                </div>            
            </article>            
        </li>
    </ul>
</section>